#comment-form{
    margin: 3rem auto;
    width:90%;
    max-width: 40rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    padding: 1rem;
}

#comment-form button{
    font: inherit;
    background-color: #390281;
    color: white;
    border:1px solid #390281;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
}

#comment-form button:hover,
#comment-form button:active{
    background-color: #4f0ba7;
    border-color: #4f0ba7;
}
.form-control{
    margin-bottom: 2rem;
}

.form-control label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display:block;

}
.form-control input,
.form-control textarea{
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.25rem;
    border-radius: 6px;
    border:1px solid #ccc;
}
#comments{
    margin:3rem auto;
    width:90%;
    max-width: 60rem;
    border-radius: 12px;
    background-color: white;
    box-sizing: 0 2px 8px rgba(0,0,0,0.25);
    padding: 1rem 2rem;
}
#comments ul{
    list-style: none;
    margin:0;
    padding: 0;
}
#comments li{
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
}
#comments li:last-of-type{
    border-bottom: none;
}
#comments h2{
    color: #ccc;
}