#data{
    text-align: center;
    border-top: 2px;
    border-bottom: 2px;
    border-left: 2px;
    border-right: 2px;
    border-width: 2px;
    border-color: black;
    box-sizing: border-box;
    
}