{% extends "amazon/base.html" %}
{%load static%}
{%block title%}
        My Stored Posts
{%endblock%}
{%block css_files%}
  <link rel="stylesheet" href="{%static "amazon/read-later.css"%}">
{%endblock%}
{%block content%}
  <section id="stored-post">
    {%if not has_posts%}
       <p>You have not saved post to read later</p>
    {%endif%}
    <ul>
       {%for post in posts%}
        <li><a href="{%url "detail_post" post.slug %}">{{post.title}}</a></li>
       {%endfor%}
    </ul>
  </section>
{%endblock%}