#comments{
    margin:3rem auto;
    width:90%;
    max-width: 60rem;
    border-radius: 12px;
    background-color: white;
    box-sizing: 0 2px 8px rgba(0,0,0,0.25);
    padding: 1rem 2rem;
}
#comments ul{
    list-style: none;
    margin:0;
    padding: 0;
}
#comments li{
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
}
#comments li:last-of-type{
    border-bottom: none;
}
#comments h2{
    color: #ccc;
}